<div class="card" style="width: 100%; height: 100%">
    <h5 class="card-header">Solution</h5>
        <div class="card-body">
            <ngx-treeview [config]="config" [items]="items"></ngx-treeview> 
        </div>
</div>